/* scroll to top button */
#scrollToTop {
    display: none;
    background-image: url("../images/icon_top.png");
    position: fixed;
    bottom: 50px;
    height: 40px;
    right: 50px;
    width: 40px;
    z-index: 4;
    opacity: 0.6;
}

#scrollToTop.button:hover {
    opacity: 0.9;
}
